@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sf-pro';
  src: local('Sf-pro'),
      url('/font/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sf-pro';
  src: local('Sf-pro'),
      url('/font/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sf-pro';
  src: local('Sf-pro'),
      url('/font/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: local('Coolvetica'),
      url('/font/coolvetica/COOLVETICACOMPRESSEDRG.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 255, 255, 255;
  --primary: 13, 12, 34;
  --secondary: 12, 0, 255;
  --min-screen-width: 320px;
  --max-screen-width: 1280px;
  --base-font-size: 16px;
}

* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.Sf-pro {
  font-family: "Sf-pro";
  font-display: swap;
}

.coolvetica {
  font-family: "Coolvetica";
  font-display: swap;
}

html{
  scroll-behavior: smooth;
}

body{
  transition: background 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.word-spacing{
  word-spacing:-2px;
}

  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 16px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #8A8A8A;
  }

  @layer base{
    body {
        @apply dark:bg-darkest bg-white
    }
  }
  

.animate-float {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px) rotate(0deg);
  }
  50% {
    transform: translatey(-20px) rotate(2deg) scale(102%);
  }
  100% {
    transform: translatey(0px) rotate(0deg);
  }
}


#Calque_1 {
  * {
      stroke: #D1D1D1;
      fill: none;
      stroke-width: 0.01em;
      stroke-linejoin: round;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 3s forwards; 
      // animation: draw 1.7s linear normal forwards;
    }

  path:nth-child(even) { animation-delay: 2s;}
}

#Calque_1 animate {
  animation-delay: 4s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}